@use "../bootstrap.scss" as *;

.burger {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
  width: 45px;
  height: 40px;
  padding: 10px;
  background-color: transparent;
  transition: opacity $trans-default;
  border: none;
  cursor: pointer;
  z-index: 1;

  &::after,
  &::before,
  &>.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: $color-default-white;
    transition: transform $trans-ease-in-out-300, opacity $trans-ease-in-out-300, background-color $trans-ease-in-out-300;
    content: '';
  }

  &.is-active {
    &::after {
      transform: translateY(-5px) rotate(-45deg);
      background-color: $color-default-black;
    }

    &::before {
      transform: translateY(9px) rotate(45deg);
      background-color: $color-default-black;
    }

    &>.burger__line {
      transform: translateX(100%);
      opacity: 0;
    }

    &~* {
      transform: translateY(0);
    }
  }

  @include hover-focus {
    opacity: 0.5;

    &:active {
      opacity: 0.8;
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  @include vp-767 {
    display: grid;
  }
}
