@use "../bootstrap.scss" as *;

.button {
  display: block;
  padding: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  background-color: $color-default-white;
  color: $color-nero;
  user-select: none;
  cursor: pointer;

  &--dark {
    font-weight: 400;
    background-color: $color-jaguar;
    color: $color-default-white;
  }

  &--second {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
  }

  // transition: background-color $trans-default;

  @include hover-focus {
    // background-color: $color-chartreuse-yellow-60;

    &:active {
      // background-color: $color-chartreuse-yellow-90;
    }
  }

  &:disabled,
  &:not([type="button"]):not([type="submit"]):not([href]) {
    pointer-events: none;
    // opacity: 0.5;
  }

  &--second {
    // border: 1px solid $color-chartreuse-yellow;
    // background-color: $color-default-white;
    // transition: box-shadow $trans-default, opacity $trans-default;

    @include hover-focus {
      // box-shadow: 0 0 0 2px $color-chartreuse-yellow;
      // background-color: $color-default-white;

      &:active {
        // box-shadow: 0 0 0 4px $color-chartreuse-yellow;
        // background-color: $color-default-white;
      }
    }
  }
}
