@use "../bootstrap.scss" as *;

.hero__container {
  display: flex;
}

.hero__content {
  display: grid;
  max-width: 740px;
  padding: 184px 0 0;

  @include vp-1439 {
    padding-top: 150px;
  }

  @include vp-1279 {
    padding-top: 110px;
  }

  @include vp-1023 {
    max-width: none;
  }

  @include vp-767 {
    padding-top: 60px;
  }
}

.hero__title {
  margin: 0 0 29px;
  font-family: $ff-prata;
  font-size: 3.3rem;
  line-height: 1;

  @include vp-1279 {
    font-size: 3rem;
    margin: 0 0 24px;
  }

  @include vp-767 {
    font-size: 2rem;
    margin: 0 0 15px;
  }
}

.hero__text {
  margin: 0 0 50px;
  font-size: 1.8rem;
  line-height: 1.2;

  @include vp-1279 {
    font-size: 1.6rem;
    margin: 0 0 30px;
  }

  @include vp-767 {
    font-size: 1.2rem;
    margin: 0 0 20px;
  }
}

.hero__list {
  display: grid;
  gap: 32px;
  margin: 0 0 40px;
  padding: 0;
  list-style: none;

  @include vp-767 {
    gap: 20px;
  }
}

.hero__item {
  justify-self: flex-start;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 20px 0 2px;
  line-height: 1.1;
  border-radius: 4px;
  background-color: $color-jaguar-70;

  &::before {
    content: "";
    display: inline-block;
    min-width: 39px;
    height: 37px;
    background-image: url("../__spritemap#sprite-tick-view");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.hero__item-text {
  margin: 0;
}

.hero__item-accent {
  display: inline-block;
  vertical-align: middle;
  font-family: $ff-prata;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.hero__button {
  justify-self: flex-start;

  @include vp-1023 {
    justify-self: auto;
  }
}
