@use "../bootstrap.scss" as *;

.nav__list {
  list-style: none;
}

.nav__link {
  display: block;
  padding: 12px;
  font-style: italic;
  font-size: 0.7rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: inherit;

  &--xl {
    padding: 20px 28px;
    font-size: 0.8rem;

    @include vp-767 {
      padding: 10px;
    }
  }

  &::after {
    display: block;
    height: 2px;
    transition: width $trans-ease-in-out-300;
    content: "";
  }

  @media (hover: hover) {
    &::after {
      width: 0%;
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      width: 100%;
    }
  }

  @include vp-767 {
    font-size: 1rem;
  }
}
