@use "../bootstrap.scss" as *;

.page__main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  padding-bottom: 100px;

  @include vp-1439 {
    gap: 75px;
    padding-bottom: 75px;
  }

  @include vp-1023 {
    gap: 50px;
    padding-bottom: 50px;
  }
}


.page__header {
  margin-bottom: 100px;

  @include vp-1439 {
    margin-bottom: 75px;
  }

  @include vp-1023 {
    margin-bottom: 50px;
  }
}
