@use "../bootstrap.scss" as *;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include vp-768 {
    padding: 0 40px;
  }

  @include vp-1280 {
    padding: 0 60px;
  }

  @include vp-1920 {
    padding: 0 $pad-desktop;
    max-width: 1920px;
  }
}
