@use "../bootstrap.scss" as *;

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 $pad-desktop;

  @include vp-1439 {
    padding: 0 $pad-desktop-100;
  }

  @include vp-1023 {
    padding: 0 $pad-tablet;
  }

  @include vp-767 {
    padding: 0 $pad-mobile;
  }
}
